<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>2F5EB612-6133-450C-8E91-F9500A1C9C2B.playgroundpage</string>
		<string>2CEEA61A-343D-4585-91B4-DE9CDD245E8E.playgroundpage</string>
		<string>8972F63A-38BD-433E-8C48-748784028443.playgroundpage</string>
	</array>
</dict>
</plist>
